/* General styling */

* {
    box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

section { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0px 0px;
}

section h1 {
    margin: 10px;
    font-size: 32px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 80%;
    max-width: 80%;
    margin: 10px 0 30px 0;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 80%;
    max-width: 80%;
    padding: 15px 0px 15px 0px;
}

.card_section img {
    margin: 20px;
}

.card_divider {
    padding-bottom: 18px;
    border-bottom: 3px dotted rgb(234, 196, 98);
}

.btn {
    padding: 10px 30px;
    margin-top: 10px;

    border-radius: 15px;
    border-width: 0;

    color: #ffffff;
    background: linear-gradient(to right, rgba(251,160,12,1) 0%, rgba(255,205,0,1) 100%);
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    color: rgba(255,205,0,1);
    background: #ffffff;
    
}



/* Menu */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    background-color: #d0d0d0;
}

.logo img {
    padding: 0 5px;
}

.logo h4 {
    font-weight: 700;
    padding: 0 5px;
}

.navigation {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.navigation li {
    width: 100%;
    padding: 5px;    
    text-align: center;
}

.navigation li:hover {
    background-color: #a2a2a2;
}

.navigation li a {
    display: block;
    padding: 10px 5px;

    color: black;
    text-decoration: none;
}



/* Top section */

.page_top {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    height: 550px;
    width: 100%;

    background: url(images/main_img.jpg) no-repeat center center;
    background-size: cover;
    opacity: 0.8;
    color: rgb(249, 182, 12);
}

.page_top h1 {
    font-size: 3em;
    opacity: 1;
}

.page_top h2 {
    padding: 3px 30px;
    font-size: 1.5em;
    opacity: 1;

    color: #ffffff;
    border: 2px solid rgb(240, 180, 27);
}

.page_top .icons_list {
    padding: 10px;
    margin: 10px auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    width: 60%;
}

.icons_list a {
    padding: 5px;
}

.icons_list .icon {
    max-width: 90%;
}

/* About me section */

.about_me {
    font-family: 'Ubuntu', sans-serif;
}

.about_me h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.about_me li{
    margin: 5px;
}

.basic_info {
    color: #FFC53D;
}

.basic_info b {
    color: black;
}



/* Skills section */

.skills {
    font-size: 24px;
}

.skills h4 {
    margin-bottom: 5px;;
    color: #FFC53D
}

.skills .skills_dsc {
    text-align: center;
    margin: 10px 0px;
}


/* Portfolio section */

 .images_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 10px 0;

    color: #ffffff;
 }

 .images_container img {
    height: 100%;
    max-width: 100%;  
    height: 350px;
    object-fit: cover;
 }

 .shaded_img {
    position: relative;
    display: flex;
 }

 .shaded_img::before {
    content: '';
    position: absolute;

    height: 100%;
    width: 100%;

    background: linear-gradient(to bottom, rgba(34,34,34,0.5) 0%, rgba(255,154,61,0.5) 100%);    
    z-index: 1;
 }

 .text_overlay {
    position: absolute;
    z-index: 2;
 }

 .text_overlay h2 {
     font-size: 40px;
 }

 .text_overlay p {
    font-size: 16px;
 }

 .text_overlay h2, .text_overlay p {
    padding: 10px 0 0 10px;
 }

 .text_overlay button {
    margin: 10px;
 }


 
 /* Contact section */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    background-color: rgba(250,250,255,1);
}

.contact > div {
    padding: 20px 10px;
}

.contact_form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 20px;
}

.contact_form h2 {
    padding: 10px;
    font-size: 32px;
}

.contact_form form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.contact_form form input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;

    color: rgb(165, 165, 165);
    background-color: rgb(242, 242, 242);
    border-width: 0;
    border-radius: 10px;
    outline: none;
}

.contact_form form input:focus {
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.contact_info {
    display: flex;
    flex-flow: column wrap;

    padding: 20px;

    color: #ffffff;
    background: rgb(255, 174, 74);
}

.contact_info .msg {
    max-width: 30%;
}

.contact_info p {
    padding-left: 10px;
}

.contact_info p:nth-child(2) {
    margin-bottom: 120px;
}

.contact_info .icons_list {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 50%;
    margin-bottom: 10px;
}



/* Footer */

.footer {
    padding: 10px;
    text-align: center;

    color: rgb(165, 165, 165);
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}



/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {

    /* Navigation bar */

    .header {
        overflow: hidden;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        background:  #d0d0d0;
        z-index: 3;
    }

    .navigation {
        flex-flow: row nowrap;
    }

    .navigation li {
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }



    /* Page top */

    .page_top {
        margin-top: 70px;
    }


}
